.static-stars ion-button {
  background: gray;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  height: 2.25em !important;
  width: 2.25em !important;
  cursor: none;
}

.static-stars ion-button:hover {
  cursor: none;
}

.static-stars ion-button.marked {
  background: yellow;
}
