generic-carousel ion-toolbar {
  --background: transparent !important;
  --border-color: transparent !important;
}

generic-carousel .swiper-slide {
  display: block;
}

generic-carousel .slide-title {
  margin-top: 2.8rem;
}

generic-carousel .slide-image {
  /* max-height: 50%; */
  max-height: 180px;
  max-width: 60%;
  margin: 36px 0;
}

generic-carousel b {
  font-weight: 500;
}

generic-carousel p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-medium);
}

generic-carousel p b {
  color: #000;
}

generic-carousel {
  height: 100%;
  width:  100%;
}
